<div class="container">
  <div *ngIf="user">
    <!-- <div>Userid: {{ user.id }}</div> -->

    <div *ngIf="!user?.avatarUrl"> <img
        src='https://images.unsplash.com/photo-1553610074-8c838fa2e56e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80'
        style="height: 60px; width: 60px; border-radius: 50%; margin-top: 1rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: .5rem;">
    </div>
    <div *ngIf="user?.avatarUrl"><img src={{user?.avatarUrl}} style="height: 60px; width: 60px;"></div>
    <div><h6>{{ user.username }}</h6></div>
    <div>Friends: {{ user.friends }}</div>
    <div>Role: {{ user.roles }}</div>

    <button *ngIf="!editProfile" class="btn btn-primary" (click)="editProfileToggle()">Edit profile</button>
    <input style="display: none" type="file" (change)="upload($event, user, user.avatarUrl)" #fileInput>
    <!-- <button (click)="fileInput.click()">Select File</button> -->

  </div>

  <form *ngIf="editProfile" [formGroup]="form"
    (submit)="this.updateUser(form.value.username, form.value.password); this.editProfileToggle()">

    <!-- Username Input -->
    <div class="form-group">
      <label for="username">Username</label>
      <div
        [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty), 'has-success': !form.controls.username.errors}">
        <input type="text" name="username" class="form-control" autocomplete="off" placeholder="{{this.user.username}}"
          formControlName="username" />
        <!-- Valid ation -->
        <ul class="help-block">
          <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required
          </li>
          <li
            *ngIf="form.controls.username.errors?.minlength && form.controls.username.dirty || form.controls.username.errors?.maxlength && form.controls.username.dirty ">
            Minimum characters: 3, Maximum characters: 15</li>
          <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username must not
            have any special characters</li>
        </ul>
      </div>
    </div>

    <!-- Password Input -->
    <div class="form-group">
      <label for="password">Password</label>
      <div
        [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
        <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password"
          formControlName="password" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required
          </li>
          <li
            *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">
            Minimum characters: 8, Maximum characters: 35</li>
          <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must be
            at
            least 8 characters but no more than 35</li>
        </ul>
      </div>
    </div>

    <!-- Confirm Password Input -->
    <div class="form-group">
      <label for="confirm">Confirm Password</label>
      <div
        [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
        <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password"
          formControlName="confirm" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
          <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password do not match</li>
        </ul>
      </div>
    </div>

    <!-- Submit Input -->
    <input [disabled]="!form.valid" type="submit" class="btn btn-primary" value="Update" />

  </form>
</div>
