/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#flashMessages {
  position: absolute;
  right: 2px;
  top: 2px;
}
