.enlarge {
  font-size: 30px;
  width: 80%;
  color: rgb(142, 149, 151);
}

.center {
  margin: 0 auto;
}

.pad {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

::placeholder {
  color: rgb(186, 199, 200);
  opacity: 0.7;
  /* Firefox */
}
