<p>User Details</p>
<div *ngIf="this?.user">
  <div>{{ user?.username }}</div>
  <!-- <div>Userid: {{ user?.id }}</div> -->
  <div>Friends: {{ user?.friends }}</div>
</div>

<app-posts-list [posts]="this.postsOfUser"></app-posts-list>
