<div class="container">

  <div class="jumbotron jumbo">
    <h5 class="jumboText">Welcome to our online forum!
    </h5>
    <hr class="my-3">
  </div>

  <app-posts-search id="myInput" (search)="this.pushToSearchSubject($event)"></app-posts-search>

  {{currentPage}}

  <div class="pagination" *ngFor="let item of [].constructor(pages); let i = index">
    <a [ngClass]="{'active': this.page == i+1, 'clickable': true}" (click)="jumpToPage(i+1)">{{i+1}}</a>
  </div>

  <div class="posts-list">
    <app-posts-list [user]="this.user" [isAdmin]="isAdmin" [posts]="posts" [postVote]="postVote"
      [selectedPost]="this.activePost" [postsCount]="postsCount" (selectPost)="this.selectPost($event)"
      (updatePostEmitter)="this.updatePost($event)" (voteOnPostEmitter)="this.addPostVote($event)"
      (deletePostEmitter)="this.deletePost($event)">
    </app-posts-list>
  </div>
