.container {
  /* margin-bottom: 2em; */
  min-height: 100%;
  margin-bottom: -40px;
}

.container::after {
  height: 40px;
}

.jumbo {
  margin-top: 2rem;
  margin-bottom: 0rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0%, rgba(243, 239, 255, 0.7) 30%, rgba(200, 244, 254, 0.5) 49%, rgba(180, 240, 251, 0.30) 100%)
}

.jumboText {
  font-weight: lighter;

}

.pagination {
  display: inline;
  margin-bottom: 1rem;
}

.active {
  background: pink;
}
