<h2 class="page-header">Login</h2>

<!-- Login Form -->
<form [formGroup]="form" (submit)="loginUser()">

  <!-- Username Field -->
  <div class="form-group">
    <label for="username">Username</label>
    <div [ngClass]="{'has-error': form.controls.username.errors && form.controls.username.dirty, 'has-success': form.controls.username.valid && form.controls.username.dirty }">
      <input class="form-control" type="text" name="username" formControlName="username" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</li>
        <li
          *ngIf="form.controls.username.errors?.minlength && form.controls.username.dirty || form.controls.username.errors?.maxlength && form.controls.username.dirty ">
          Minimum characters: 3, Maximum characters: 15</li>
        <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username must not
          have any special characters</li>
      </ul>
    </div>
  </div>

  <!-- Password Field  -->
  <div class="form-group">
    <label for="password">Password</label>
    <div [ngClass]="{'has-error': form.controls.password.errors && form.controls.password.dirty, 'has-success': form.controls.password.valid && form.controls.password.dirty }">
      <input class="form-control" type="password" name="password" formControlName="password" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required.</li>
      </ul>
    </div>
  </div>
  <!-- Submit Button -->
  <input [disabled]="!form.valid || processing" class="btn btn-primary" type="submit" value="Login" />
</form>


