<!-- Comments: {{commentsCount}} -->

<div class="pagination" *ngFor="let item of [].constructor(pages); let i = index">
  <a [ngClass]="{'active': this.page == i+1, 'clickable': true}" (click)="jumpToPage(i+1)">{{i+1}}</a>
</div>

<app-comments-list [title]="title" [user]="user" [isAdmin]="isAdmin" [content]="content" [comments]="comments"
  [postId]="postId" [postTitle]="postTitle" [postContent]="postContent"
  (voteOnPostEmitter)="this.addCommentVote($event)" (updateCommentEmitter)="this.updateComment($event)"
  (commentCreateEmitter)="this.createComment($event)" (commentDeleteEmitter)="this.deleteComment($event)">
</app-comments-list>
