<div class="createContainer">
  <h6></h6>

  <form [formGroup]="form" (ngSubmit)="this.addPost(form.value.title, form.value.content)">
    <div>
      <!-- <label for="title"> -->
      <p>Your super original title:</p>
      <!-- </label> -->

      <input formControlName="title" type="text" />
      <ul class="help-block">
        <li *ngIf="form.controls.title.errors?.required && form.controls.title.dirty">This field is required</li>
        <li
          *ngIf="form.controls.title.errors?.minlength && form.controls.title.dirty || form.controls.title.errors?.maxlength && form.controls.title.dirty ">
          Minimum characters: 2, Maximum characters: 35</li>
      </ul>
    </div>

    <div class="content">
      <!-- <label for="content"> -->
      <p> Dump the contents of your post down here...</p>
      <!-- </label> -->
      <quill-editor formControlName="content" [modules]="config"></quill-editor>
      <ul class="help-block">
        <li *ngIf="form.controls.content.errors?.required && form.controls.content.dirty">This field is required</li>
        <li
          *ngIf="form.controls.content.errors?.minlength && form.controls.content.dirty || form.controls.content.errors?.maxlength && form.controls.content.dirty ">
          Minimum characters: 5, Maximum characters: 500</li>
      </ul>
    </div>

    <button class="button" type="submit">Post</button>
  </form>
</div>
