.createContainer {

  min-height: 100%;
  /* margin-bottom: 50px; */
  text-align: center;
  /* width: 30%; */
  margin: 100px auto;

}

/* .postForm {
  text-align: center;
  width: 300px;
  min-height: 100px;
} */
/* .content {
  width: 70%;
} */
