.footer {
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 60px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(197, 229, 243, 1) 19%, rgba(243, 239, 255, 1) 100%);
  text-align: center;
  margin-top: 4em;
  padding-bottom: 50px;

}


/* .logo {
  padding: 1em;
} */
