<div class="container">
  <div [routerLink]="['/post',this.selectedId,'comments']" routerLinkActive="router-link-active" class="postBox">
    <h2>{{ post?.title }}</h2>
    <p [innerHtml]="post?.content"></p>
    Createdon: {{post?.createdOn | date}} <br>
    <!-- Updatedon: {{post?.updatedOn | date}} <br> -->
    Likes: {{post?.likes}}
  </div>
  <app-comments *ngIf="post" [postTitle]="post.title" [postContent]="post.content"></app-comments>
</div>
