.container {
  min-height: 100%;
  margin-bottom: 50px;
  /* text-align: center; */

}

.postBox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 2rem;
  margin-top: 1rem;
}
