a,
a:hover,
a:active {
  color: black;
}

.logo {
  padding-right: 50px;
}

.username {
  list-style-type: none;
  padding: 1em;
}

.header {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.700717787114846) 0%, rgba(243, 239, 255, 1) 30%, rgba(200, 244, 254, 1) 49%, rgba(180, 240, 251, 0.8) 100%);
  /* z-index: 99; */
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 .5px 20px 0 rgba(0, 0, 0, 0.19);
}
