  <nav class="navbar navbar-expand-lg navbar-light header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <h4>
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">
        FORUM
      </a>
    </h4>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users']" routerLinkActive="router-link-active">Members</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!loggedIn" class="nav-link" [routerLink]="['/users/create']"
            routerLinkActive="router-link-active">Register</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loggedIn" class="nav-link" [routerLink]="['/create']" routerLinkActive="router-link-active">Create
            Post</a>
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/users/login']" routerLinkActive="router-link-active">Login</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item dropdown justify-content-right username">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{this.user?.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="logoutTrigger()">Logout</a>
            <a class="dropdown-item" [routerLink]="['/users/profile']" routerLinkActive="router-link-active">Profile</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
