<div class="wrapper">
  <app-header [isAdmin]="isAdmin" [loggedIn]="loggedIn" [user]="user" (logout)="logout()"></app-header>
  <flash-messages></flash-messages>
  <ngx-spinner></ngx-spinner>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
