<i class="far fa-heart" *ngIf="user && !post.likedByUser" (click)="this.postVoteToggle(post.id)"></i>
<i class="fas fa-heart" *ngIf="user && post.likedByUser" (click)="this.postVoteToggle(post.id)"></i>