<!-- <input [(ngModel)]="this.title" placeholder="Title...">
<input [(ngModel)]="this.content" placeholder="Comment...">
<button class="btn btn-primary" (click)="this.onCreateButtonClick()">Create Comment</button> -->
<div class="commentsForm">
  <form [formGroup]="form" (ngSubmit)="this.onCreateButtonClick(form.value.title, form.value.content)">
    <div>
      <label for="title">
        Title
      </label>

      <input formControlName="title" type="text" />
      <ul class="help-block">
        <li *ngIf="form.controls.title.errors?.required && form.controls.title.dirty">This field is required</li>
        <li
          *ngIf="form.controls.title.errors?.minlength && form.controls.title.dirty || form.controls.title.errors?.maxlength && form.controls.title.dirty ">
          Minimum characters: 2, Maximum characters: 35</li>
      </ul>
    </div>

    <div>
      <label for="content">
        Content
      </label>
      <quill-editor formControlName="content" [modules]="config"></quill-editor>
      <ul class="help-block">
        <li *ngIf="form.controls.content.errors?.required && form.controls.content.dirty">This field is required</li>
        <li
          *ngIf="form.controls.content.errors?.minlength && form.controls.content.dirty || form.controls.content.errors?.maxlength && form.controls.content.dirty ">
          Minimum characters: 5, Maximum characters: 500</li>
      </ul>
    </div>

    <button class="button" type="submit">Comment</button>
  </form>
</div>
