<ul class="list-group">
  <li *ngFor="let comment of comments" class="list-group-item">
    <div *ngIf="!toUpdateComment || toUpdateId !== comment.id">
      <b>{{ comment?.title }}</b>
      userid: {{ comment?.userId }}<br>
      created: {{ comment?.createdOn }} <br>
      <!-- lastupdatedon: {{ comment?.lastUpdatedOn }}<br> -->
      likes: {{ comment?.likes }} <br>
      <a [routerLink]="['/users', comment?.userId]">by: {{comment?.username}} <br></a>
      <p [innerHtml]="comment?.content"></p>
      <button *ngIf="user?.id == comment.userId" class="btn btn-secondary"
        (click)="updateCommentToggle(comment.id); assignContent(comment.content); assignTitle(comment.title)">Update</button>
      <button *ngIf="user?.id == comment.userId || isAdmin" class="btn btn-primary btn-danger"
        (click)="this.delete(comment.id)">Delete</button>

      <app-comment-vote *ngIf="user?.id !== comment.userId" [user]="user" [post]="comment" (voteOnPostEmitter)="commentVoteToggle($event)">
      </app-comment-vote>

    </div>
    <div *ngIf="toUpdateComment && toUpdateId === comment.id">
      <input [(ngModel)]="this.title" placeholder={{comment.title}}>
      <quill-editor [modules]="config" [(ngModel)]="this.content" placeholder={{comment.content}}>
      </quill-editor>
      <button *ngIf="user?.id == comment.userId" class="btn btn-primary" (click)="update(comment.id)"
        (click)="updateCommentToggle(null)">Save</button>
    </div>
  </li>
</ul>

<app-comment-create *ngIf="user" [postTitle]="postTitle" [postContent]="postContent" [title]="title" [content]="content"
  (commentCreate)="this.createComment($event)">
</app-comment-create>
