<div *ngIf="this.users?.length && loggedUser" class="row userListContainer">
  <div *ngFor="let user of users" class="card1 col-sm-4">
    <div class="card-title center">

      <div *ngIf="!user?.avatarUrl"> <img
          src='https://images.unsplash.com/photo-1553610074-8c838fa2e56e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80'
          style="height: 60px; width: 60px; border-radius: 50%; margin-top: 1rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: .5rem;">
      </div>
      <div *ngIf="user?.avatarUrl"><img src={{user?.avatarUrl}} style="height: 60px; width: 60px;"></div>
      <div class="username">
        <span *ngIf="user?.id !== this.loggedUser.id" [routerLink]="['/users', user.id]"
          routerLinkActive="router-link-active">
          <h6>{{ user?.username }}</h6>

          <!-- Isbanned: {{user?.bans}} -->
        </span>
        <span *ngIf="user?.id == this.loggedUser.id" [routerLink]="['/users', user.id]"
          routerLinkActive="router-link-active">
          <h6>You</h6>

          <!-- Isbanned: {{user?.bans}} -->
        </span>
      </div>
      <i class="fa fa-user-plus" *ngIf="!amFriendsWith(user)"
        [ngClass]="{'invisible': user.username === loggedUser.username}" (click)="addFriend(user)"></i>
      <i class="fa fa-users" *ngIf="amFriendsWith(user)"
        [ngClass]="{'invisible': user.username === loggedUser.username}" (click)="removeFriend(user)"></i>
      <i class="fas fa-user-lock" *ngIf="isAdmin && !user.bans"
        [ngClass]="{'invisible': user.username === loggedUser.username, 'clickable': true}" (click)="banUser(user)"></i>
      <i class="fas fa-user-check" *ngIf="isAdmin && user.bans"
        [ngClass]="{'invisible': user.username === loggedUser.username, 'clickable': true}"
        (click)="unbanUser(user)"></i>
    </div>
  </div>
</div>
<div *ngIf="this.users?.length && !loggedUser" class="row">
  <div *ngFor="let user of users" class="card col-sm-4">
    <div class="card-title" [routerLink]="['/users', user.id]" routerLinkActive="router-link-active">
      Username: {{ user?.username }}</div>
  </div>
</div>
