<div *ngIf="posts.length == 0">
  <!-- <h1>NOTHING TO SHOW!</h1> -->
</div>

<div class="list-group">
  Posts: {{ postsCount }}
  <a *ngFor="let post of posts" class="style">
    <div class="singlePost" *ngIf="!toUpdatePost || toUpdateId !== post.id">

      <div class="segmentAuthor">
        <a [routerLink]="['/users', post?.userId]">{{post?.username}}</a>

      </div>

      <div class="segmentPost">
        <a>
          <h3 [ngClass]="{'clickable': true}" [routerLink]="['/post', post.id]" routerLinkActive="router-link-active">
            {{ post?.title }} </h3>
        </a>
        <p>{{refactorHtmlToText(post?.content) | slice: 0:20}}...</p>

        <br>
        <br>
      </div>

      <div class="segmentStats">
        Created: {{post?.createdOn | date}} <br>
        <!-- Updated: {{post?.updatedOn | date}} <br> -->
        Likes: {{post?.likes}} <br>
      </div>

      <button *ngIf="user?.id == post.userId" class="btn btn-secondary"
        (click)="updatePostToggle(post.id); assignContent(post.content); assignTitle(post.title)">Update</button>
      <button *ngIf="user?.id == post.userId || isAdmin" class="btn btn-primary btn-danger"
        (click)="this.delete(post.id)">Delete</button>

      <app-post-vote *ngIf="user?.id !== post.userId" [user]="user" [post]="post"
        (voteOnPostEmitter)="postVoteToggle($event)"></app-post-vote>

    </div>
    <div *ngIf="toUpdatePost && toUpdateId === post.id">
      <input [(ngModel)]="this.title">
      <quill-editor [modules]="config" [(ngModel)]="this.content">
      </quill-editor>
      <button *ngIf="user?.id == post.userId" class="btn btn-primary" (click)="update(post.id)"
        (click)="updatePostToggle(null)">Save</button>
    </div>
  </a>
</div>
