/* .active {
  background-color: lightgray !important;
} */

.clickable {
  cursor: pointer;
}

.postListWrapper {
  min-height: 100%;
  margin-bottom: 50px;
  text-align: center;
}


.pageElement {
  padding: 1.5em;
}

.singlePost {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.style {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  border-bottom: 2px dotted rgb(177, 181, 232);
  padding-top: 2rem;

}

.style:nth-child(5n) {
  border-bottom: none;
}

.segmentAuthor {
  flex-grow: 2;
}

.segmentPost {
  flex-grow: 5;
}

.segmentStats {
  flex-grow: 1;
}
